<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Convertcart\Analytics\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Convertcart\Analytics\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myLoggerName</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Convertcart\Analytics\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Convertcart\Analytics\Api\SyncRepositoryInterface" type="Convertcart\Analytics\Model\Api\SyncApi"/>
    <preference for="Convertcart\Analytics\Api\Data\SyncInterface" type="Convertcart\Analytics\Model\SyncManagement" />
</config>